body {
  background-color: black;
  background-image: url("./assets/pngegg.png");
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.header {
  /* border: black solid 2px; */
  display: flex;
  border-bottom: white solid 1px;
  background-color: #e92226;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header img {
  /* border: black solid 2px; */
  width: 250px;
  height: 100px;
}

.header nav {
  display: flex;
  margin-bottom: 10px;
}

nav {
  margin: 0 20px;
  color: white;
  font-size: 25px;
}

p {
  margin: 10px;
}

/* LINKS */

.link {
  text-decoration: none;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.link:hover {
  color: black;
}

/* HOMEPAGE */

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
  margin-right: 100px;
}

.cards {
  /* border: white solid 1px; */
  margin: 3px;
  color: white;
  width: calc(50% - 10px);
  text-overflow: ellipsis;
  white-space: break-spaces;
  overflow: scroll;
}

.cards img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
